body {
	background-image: url(sg.jpg);
	font-family: georgia;
	background-size: cover;
}

.form {
	padding: 25px;
	text-align: center;
	background-color: #D5E1A3;
	padding: 25px;
	border-radius: 8px;
	margin-left: 20%;
	margin-right: 20%;
	box-shadow: 10px 5px 5px dimgray;
}

.header {
	text-align: center;
	background-color: #D5E1A3;
	padding: 25px;
	border-radius: 8px;
	margin-left: 20%;
	margin-right: 20%;
	box-shadow: 10px 5px 5px dimgray;

}

details {
	background-color: lightyellow;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 10px 5px 5px dimgray;
}